{% comment %}
 Automated Title
{% endcomment %}
{% assign pageTitle = title | default: '' -%}{% assign pageTitle = pageTitle | append: ' - ' | append: meta.siteName -%}

{% comment %}
  Automated Description
{% endcomment %}
{% assign pageDescription = description | default: '' -%}{% assign pageDescription = pageDescription | default: '' -%}

{% comment %}
  Page URL
{% endcomment %}
{% assign pageUrls = meta.url | append: ' ' | append: page.url -%}

{% comment %}
  Start Head
{% endcomment %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% comment %}
    About Page
  {% endcomment %}
  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDescription }}" />
  <meta name="keywords" content="{{ pageKeyword }}" />
  <meta name="creation_Date" content="{{ meta.creationDate }}" />

    {% comment %}
      Robot
    {% endcomment %}
  <meta name="robots" content="{{ meta.robots }}" />

    {% comment %}
      Author
    {% endcomment %}
  <meta name="author" content="{{ meta.authorName }}" />

    {% comment %}
      Fonts
    {% endcomment %}
  <style>
/* roboto-serif-300 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url('/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-regular - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url('/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-500 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src: url('/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-600 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url('/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-700 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url('/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-800 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  src: url('/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  </style>
  <link rel="preload" as="font" href="/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-300.woff2" crossorigin="anonymous" fetchpriority="high">
  <link rel="preload" as="font" href="/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-regular.woff2" crossorigin="anonymous" fetchpriority="high">
  <link rel="preload" as="font" href="/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-500.woff2" crossorigin="anonymous" fetchpriority="high">
  <link rel="preload" as="font" href="/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-600.woff2" crossorigin="anonymous" fetchpriority="high">
  <link rel="preload" as="font" href="/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-700.woff2" crossorigin="anonymous" fetchpriority="high">
  <link rel="preload" as="font" href="/fonts/roboto-serif-v13-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-800.woff2" crossorigin="anonymous" fetchpriority="high">
  
  {% comment %}
    CSS
  {% endcomment %}
  <link
    rel="preload"
    href="{{  '/css/style.css' | url }}"
    as="style"
    fetchpriority="high"
    />
  <link
    rel="stylesheet"
    href="{{  '/css/style.css' | url }}"
    media="all" />

    {% comment %}
      Sitemap
    {% endcomment %}
  <link
    rel="sitemap"
    type="application/rss+xml"
    title="RSS Feed for {{ meta.siteName }}"
    href="{{  '/feed.xml' | url }}" />

    {% comment %}
      Favicon
    {% endcomment %}
  <link
    rel="shortcut icon"
    href="{{ '/favicon/favicon.ico' | url }}"
    sizes="any" />

  {% comment %}
    Open Graph
  {% endcomment %}
  <meta property="og:type" content="{{ type }}" />
  <meta property="og:locale" content="{{ meta.language }}" />
  <meta property="og:title" content="{{ pageTitle }}" />
  <meta property="og:description" content="{{ pageDescription }}" />
  <meta property="og:url" content="{{ meta.url }}" />

    {% comment %}
      Facebook
    {% endcomment %}
  <meta property="fb:admins" content="{{ meta.facebookUsername }}" />
  
    {% comment %}
      100% privacy-first analytics
    {% endcomment %}
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</head>