<header>
    <!-- Title -->
    <hgroup>
        <p class="title"><a href="{{ meta.url }}">{{ meta.siteName }}</a></p>
        <p class="motto">{{ meta.motto }}</p>
    </hgroup>
    <!-- Navigation -->
    <nav>
        {% assign navPages = collections.all | eleventyNavigation %}
        <ul>
            {%- for entry in navPages %}
            <li {% if entry.url == page.url and hide == false %} class="active" {% endif %}>
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
            {%- endfor %}   
        </ul>
    </nav>
</header>