---
title: "Blog article"
description: "Description of the blog article"
tags: "post"
date: "Created"
published: "false"
type: "article"
---

<!DOCTYPE html>
<html lang="en">
  {% include "head-article.liquid" %}
  <!-- Start Body -->
  <body>
    {% include "nav.liquid" %}
    <article id="main-content" data-pagefind-body>
      <small class="info">
        Posted&nbsp;
        <time datetime="{{ page.date }}">{{ page.date | readableDate }}</time>&nbsp;&ndash;&nbsp;
        {{ content | timeToRead }}&nbsp;to&nbsp;read
      </small>
      <h1 cms-edit="source">{{ title }}</h1>
      <div class="content" cms-edit="source">
        {{ content }}
      </div>
      {% include "photo-dump.liquid" %}
      {% include "vinyl-vibes.liquid" %}
      {% include "a-certain-sound.liquid" %}
      {% include "share.liquid" %}
    </article>
    {% include "pagination.liquid" %}
    {% include "footer.liquid" %}
  </body>
  <script type="module" src="/js/article.js"></script>
  <script type="module" src="/js/share.js"></script>
<!-- End Body -->
</html>