---
title: "Blog article"
description: "Description of a blog article"
tags: "post"
date: "Created"
published: "false"
type: "article"
---

<!DOCTYPE html>
<html lang="en">
{% include "head-article.liquid" %}
<!-- Start Body -->
<body>
    {% include "nav.liquid" %}
    <article data-pagefind-body>
        <small class="info">
            Posted&nbsp;
            <time datetime="{{ page.date }}">{{ page.date | readableDate }}</time>&nbsp;&ndash;&nbsp;
            {{ content | timeToRead }}&nbsp;to&nbsp;read
        </small>
        <h1>{{ title }}</h1>
        <div class="content">
        {{ content }}
        </div>
         <!-- Pagination links -->
        <ul class="paginate"> 
          <li class="left">{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&lt; Previous</a>{% else %}&lt; Previous{% endif %}</li>
        {% for pageEntry in pagination.pages %}
          <li><a href="{{ pagination.hrefs[forloop.index0] }}"{% if page.url == pagination.hrefs[forloop.index0] %} aria-current="page"{% endif %}>Page {{ forloop.index }}</a></li>
        {% endfor %}
          <li class="right">{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next &gt;</a>{% else %}Next &gt;{% endif %}</li>
        </ul>
        {% bookshop_include "page" content_blocks: content_blocks %}
    </article>
    {% include "footer.liquid" %}
</body>
<!-- End Body -->
</html>