---
title: "Blog article"
description: "Description of a blog article"
tags: "post"
date: "Created"
published: "false"
type: "article"
# {{ previousPost.data.title }}{{ nextPost.data.title }}
---

<!DOCTYPE html>
<html lang="en">
{% include "head-article.liquid" %}
<!-- Start Body -->
<body>
    {% include "nav.liquid" %}
    <article data-pagefind-body>
        <small class="info">
            Posted&nbsp;
            <time datetime="{{ page.date }}">{{ page.date | readableDate }}</time>&nbsp;&ndash;&nbsp;
            {{ content | timeToRead }}&nbsp;to&nbsp;read
        </small>
        <h1>{{ title }}</h1>
        <div class="content">
        {{ content }}
        </div>

         <!-- Pagination links -->
         {% if collections.post %}
          {% assign previousPost = collections.post | getPreviousCollectionItem %}
          {% assign nextPost = collections.post | getNextCollectionItem %}
          {% if nextPost or previousPost %}
            <ul class="paginate">
              {% if previousPost %}<li><a href="{{ previousPost.url }}">&lt; Previous</a></li>{% else %}<li>The start &gt;</li>{% endif %}
              {% if nextPost %}<li><a href="{{ nextPost.url }}">Next &gt;</a></li></li>{% else %}<li>&lt; The end</li>{% endif %}
            </ul>
          {% endif %}
        {% endif %}
    </article>
  {% include "footer.liquid" %}
</body>
<!-- End Body -->
</html>