---
title: "Blog"
description: "Here are my posts"
keyword: "test"
type: "website"
pagination:
  data: collections.post
  size: 7
  alias: posts
  reverse: true
  permalink: "split/page-{{ pagination.pageNumber | plus: 1 }}/index.html"
---

<!DOCTYPE html>
<html lang="en">
  {% include "head-website.liquid" %}
  <!-- Start Body -->
  <body>
    {% include "nav.liquid" %}
      <main>
      {{ content }}
      <ul class="list-posts">
        {%- for post in posts -%}
          <li class="posts">
            <h2>
              <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h2>
            <p>{{ post.data.description }}</p>
            <small class="info">
              <time datetime="{{ post.date }}">{{ post.date | readableDate }}</time>&nbsp;&nbsp;&ndash;&nbsp;
              {{ post.content | timeToRead }}&nbsp;to&nbsp;read
            </small>
          </li>
        {%- endfor -%}
      </ul>
  <!-- Pagination links -->
      {% if pagination.pageLinks.length > 1 %}
            <ul class="paginate">
            {% if pagination.previousPageLink %}
              <li class="left"><a href="{{ pagination.previousPageHref }}">&lt; Previous</a></li>
              {% else %}<li>The start &gt;</li>
            {% endif %}
            {% if pagination.nextPageLink %}
              <li class="right"><a href="{{ pagination.nextPageHref }}">Next &gt;</a></li>
              {% else %}<li>&lt; The end</li>
            {% endif %}
          </ul>
      {% endif %}
    </main>
    {% include "footer.liquid" %}
  </body>
<!-- End Body -->
</html>